In [1]:
import numpy as np
import pandas as pd

##### 1.1

In [2]:
dataset = pd.read_csv("C:\\Users\\HP\\Desktop\\Machine learning\\Projects\\Stock Price prediction\\Dataset\\LALPATHLAB.csv")

In [3]:
dataset.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,LALPATHLAB,EQ,15-May-2017,891.15,895.0,914.15,881.00,912.00,900.60,889.35,257655,2.291453e+08,15451,174775,67.83
1,LALPATHLAB,EQ,16-May-2017,900.60,910.0,925.00,895.05,909.40,910.95,914.57,104896,9.593430e+07,13001,75813,72.27
2,LALPATHLAB,EQ,17-May-2017,910.95,913.0,925.00,909.00,912.05,911.70,917.19,72460,6.645960e+07,2802,53829,74.29
3,LALPATHLAB,EQ,18-May-2017,911.70,908.0,919.35,903.05,906.00,909.75,914.12,37707,3.446889e+07,2731,24836,65.87
4,LALPATHLAB,EQ,19-May-2017,909.75,917.0,917.00,905.80,910.00,910.25,910.61,81082,7.383375e+07,4430,69926,86.24

In [4]:
dataset['Series'].unique()

array(['EQ', 'BL'], dtype=object)

In [5]:
dataset = dataset[dataset["Series"]=='EQ']
dataset

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,LALPATHLAB,EQ,15-May-2017,891.15,895.0,914.15,881.00,912.00,900.60,889.35,257655,2.291453e+08,15451,174775,67.83
1,LALPATHLAB,EQ,16-May-2017,900.60,910.0,925.00,895.05,909.40,910.95,914.57,104896,9.593430e+07,13001,75813,72.27
2,LALPATHLAB,EQ,17-May-2017,910.95,913.0,925.00,909.00,912.05,911.70,917.19,72460,6.645960e+07,2802,53829,74.29
3,LALPATHLAB,EQ,18-May-2017,911.70,908.0,919.35,903.05,906.00,909.75,914.12,37707,3.446889e+07,2731,24836,65.87
4,LALPATHLAB,EQ,19-May-2017,909.75,917.0,917.00,905.80,910.00,910.25,910.61,81082,7.383375e+07,4430,69926,86.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,LALPATHLAB,EQ,07-May-2019,1024.95,1015.7,1031.95,1006.90,1013.00,1013.10,1020.66,20113,2.052851e+07,3628,11587,57.61
491,LALPATHLAB,EQ,08-May-2019,1013.10,1014.0,1019.85,1001.90,1002.00,1006.10,1010.90,18048,1.824473e+07,4175,11239,62.27
492,LALPATHLAB,EQ,09-May-2019,1006.10,1014.0,1014.00,977.70,979.90,982.90,987.36,60539,5.977355e+07,8169,37303,61.62
493,LALPATHLAB,EQ,10-May-2019,982.90,989.9,994.30,963.60,980.00,980.65,980.71,30568,2.997840e+07,4618,19097,62.47
494,LALPATHLAB,EQ,13-May-2019,980.65,970.8,996.00,960.00,975.00,976.25,974.21,37187,3.622810e+07,6798,23772,63.93

In [6]:
print(dataset["Series"].unique())

['EQ']

In [7]:
dataset.shape

(494, 15)

#### it's strange after removing the BL category row should be reduced but it didn't!

In [8]:
#Descriptive statistics
dataset.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000
mean,908.446457,909.126113,922.827834,894.349798,907.374494,908.618725,909.155061,8.664805e+04,7.770704e+07,5471.983806,5.632622e+04,58.449312
std,80.013571,79.758601,83.856648,77.389389,80.109065,80.067847,81.071000,1.390295e+05,1.173757e+08,4100.423859,1.009753e+05,18.407078
min,737.350000,748.450000,749.000000,723.050000,739.000000,737.350000,734.620000,3.903000e+03,3.460254e+06,284.000000,1.959000e+03,7.250000
25%,857.762500,857.625000,872.050000,844.437500,854.062500,857.762500,859.447500,2.944900e+04,2.731598e+07,2863.500000,1.435025e+04,46.817500
50%,896.650000,897.975000,907.950000,882.025000,896.000000,897.125000,895.120000,4.722250e+04,4.462565e+07,4475.500000,2.555350e+04,58.405000
75%,957.050000,953.037500,973.562500,939.675000,955.000000,957.962500,956.885000,9.080075e+04,8.202401e+07,7041.250000,5.656950e+04,71.662500
max,1089.500000,1100.000000,1125.000000,1071.300000,1096.000000,1089.500000,1096.910000,2.047290e+06,1.603652e+09,42803.000000,1.226065e+06,98.290000

#### Descriptive statistics looks good, mean value of every column is almost close to its maximum value of respective column

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 494 entries, 0 to 494
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Symbol                  494 non-null    object
 1   Series                  494 non-null    object
 2   Date                    494 non-null    object
 3   Prev Close              494 non-null    float64
 4   Open Price              494 non-null    float64
 5   High Price              494 non-null    float64
 6   Low Price               494 non-null    float64
 7   Last Price              494 non-null    float64
 8   Close Price             494 non-null    float64
 9   Average Price           494 non-null    float64
 10  Total Traded Quantity   494 non-null    int64
 11  Turnover                494 non-null    float64
 12  No. of Trades           494 non-null    int64
 13  Deliverable Qty         494 non-null    int64
 14  % Dly Qt to Traded Qty  494 non-null    float64
dtypes: float64(9), int64(3), object(3)
memory usage: 61.8+ KB

#### 1.2

In [10]:
#changing data type of data column from object to datatime
dataset['Date'] = pd.to_datetime(dataset['Date'])

In [11]:
#since the dataframe is already sorted in datewise order 
#so just retrieving the last 90 rows of dataset
index = dataset.shape[0]-90
new_df = dataset.iloc[index:,:].copy()

In [12]:
new_df = new_df.reset_index(drop = 'first')
new_df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,LALPATHLAB,EQ,2018-12-31,908.50,911.25,922.00,890.95,909.95,910.30,906.08,341688,3.095975e+08,20516,286162,83.75
1,LALPATHLAB,EQ,2019-01-01,910.30,909.95,928.00,902.45,925.00,924.80,912.79,157587,1.438439e+08,4646,112675,71.50
2,LALPATHLAB,EQ,2019-01-02,924.80,924.00,924.00,900.00,916.00,915.20,910.93,94182,8.579362e+07,4481,50150,53.25
3,LALPATHLAB,EQ,2019-01-03,915.20,909.70,918.00,897.10,910.00,913.05,907.57,71756,6.512356e+07,3283,30624,42.68
4,LALPATHLAB,EQ,2019-01-04,913.05,908.00,944.85,908.00,935.45,940.10,937.58,156645,1.468668e+08,7745,102261,65.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,LALPATHLAB,EQ,2019-05-07,1024.95,1015.70,1031.95,1006.90,1013.00,1013.10,1020.66,20113,2.052851e+07,3628,11587,57.61
86,LALPATHLAB,EQ,2019-05-08,1013.10,1014.00,1019.85,1001.90,1002.00,1006.10,1010.90,18048,1.824473e+07,4175,11239,62.27
87,LALPATHLAB,EQ,2019-05-09,1006.10,1014.00,1014.00,977.70,979.90,982.90,987.36,60539,5.977355e+07,8169,37303,61.62
88,LALPATHLAB,EQ,2019-05-10,982.90,989.90,994.30,963.60,980.00,980.65,980.71,30568,2.997840e+07,4618,19097,62.47
89,LALPATHLAB,EQ,2019-05-13,980.65,970.80,996.00,960.00,975.00,976.25,974.21,37187,3.622810e+07,6798,23772,63.93

In [13]:
#maximum price for the last 90 days
print(f"Maximum price of last 90 days: {max(new_df['Close Price'])}")

Maximum price of last 90 days: 1089.5

In [14]:
#minimum price for the last 90 days
print(f"Minimum price of last 90 days: {min(new_df['Close Price'])}")

Minimum price of last 90 days: 910.3

In [15]:
#mean price for the last 90 days
print(f"Mean price of last 90 days: {new_df['Close Price'].mean()}")

Mean price of last 90 days: 1027.5994444444443

#### 1.3

In [16]:
#subracting the min date from the max date
dt = max(dataset['Date']) - min(dataset['Date'])

In [17]:
dt

Timedelta('728 days 00:00:00')

#### 1.4

#### Calculating the VWAP

In [18]:
vwap_df = dataset.copy()
vwap_df.rename(columns = {'Average Price':'AveragePrice','Total Traded Quantity':'TotalTradedQuantity'},inplace = True)
vwap_df.shape

(494, 15)

In [19]:
vwap_df['Month'] = vwap_df["Date"].dt.month
vwap_df['Year'] = vwap_df["Date"].dt.year

In [20]:
vwap_df.shape

(494, 17)

In [21]:
def vwap(vwap_grp):
    p = vwap_grp.AveragePrice.values
    q = vwap_grp.TotalTradedQuantity.values
    return vwap_grp.assign(vwap=sum((p * q)) / sum(q))
vwap_grp = vwap_df.groupby(["Month"],group_keys=False).apply(vwap)
vwap_grp = vwap_grp.groupby("Month")

In [22]:
lis = list(vwap_grp['vwap'])
a = []
for i in range(12):
    v = list(lis[i][1])[0]
    a.append(v)

In [23]:
dect = {"Month":[1,2,3,4,5,6,7,8,9,10,11,12],"VWAP":a}
vwap = pd.DataFrame(dect)
vwap

    Month         VWAP
0       1   938.883603
1       2  1002.843217
2       3   978.449271
3       4   949.841653
4       5   893.852229
5       6   846.074677
6       7   861.776852
7       8   917.657427
8       9   894.639309
9      10   817.492716
10     11   866.855692
11     12   915.242033

In [24]:
vwap_df.shape

(494, 17)

#### 1.5

In [25]:
def conversion(s):
    a = s.split()
    if a[1].lower()=='day' or a[1].lower()=='days':
        return int(a[0])
    if a[1].lower()=='weeks' or a[1].lower()=='week':
        d = 7*int(a[0])
    if a[1].lower()=='month' or a[1].lower()=='months':
        d = 30*int(a[0])
    if a[1].lower()=='years' or a[1].lower()=='year':
        d = 365*int(a[0])
    return d

In [26]:
# Calculating the average price of N days
#Data is already sorted(Datewise) -->just taking the last N columns of dataframe
def Average_price(N):
    ind = dataset.shape[0]-N
    df1 = dataset.iloc[ind:,:]
    result = df1["Close Price"].mean()
    return f"Average price over the last {N} days: {result}"

In [27]:
def Profit_loss(N):
    ind = dataset.shape[0]-N
    df2 = dataset.iloc[ind:,:]
    ar = []
    arr = df2["Close Price"].values
    for i in range(0,len(arr)-1):
        per = ((arr[i+1]-arr[i])/arr[i])*100
        ar.append(per)
    return f"Profit/Loss of {N} days: {((sum(ar)/len(ar))*100)} %"

In [28]:
#n = input("Enter the period: ")
period = ["1 week",'2 weeks',"1 month","3 months","6 months","1 year"]
for i in period:
    days = conversion(i)
    print(Average_price(days),'\n',Profit_loss(days),'\n')

Average price over the last 7 days: 1004.0428571428571
 Profit/Loss of 7 days: -111.4707925672038 %

Average price over the last 14 days: 1031.0035714285716
 Profit/Loss of 14 days: -60.498159461013046 %

Average price over the last 30 days: 1037.0016666666666
 Profit/Loss of 30 days: -30.925004809742617 %

Average price over the last 90 days: 1027.5994444444443
 Profit/Loss of 90 days: 9.716290845092862 %

Average price over the last 180 days: 985.4244444444446
 Profit/Loss of 180 days: 2.500569158564406 %

Average price over the last 365 days: 936.9046575342464
 Profit/Loss of 365 days: 3.709410507257333 %

#### 1.6

In [29]:
final_df = vwap_df.iloc[:,0:17].copy()
final_df.shape

(494, 17)

In [30]:
final_df["Day_Perc_Change"] = final_df['Close Price'].pct_change()*100
final_df["Day_Perc_Change"] = final_df["Day_Perc_Change"].fillna(0)
final_df.head(100)
final_df.shape

(494, 18)

#### 1.7

In [31]:
trend_values = ["Slight or No change","Slight positive","Slight negative","Positive","Negative","Among top gainers","Among top loosers","Bull run","Bear drop"]
Trend = []
for i in final_df["Day_Perc_Change"].values:
    if i> -0.5 and i<0.5:
        Trend.append(trend_values[0])
    if i>0.5 and i<1:
        Trend.append(trend_values[1])
    if i< -0.5 and i> -1:
        Trend.append(trend_values[2])
    if i>1 and i<3:
        Trend.append(trend_values[3])
    if i< -1 and i> -3:
        Trend.append(trend_values[4])
    if i>3 and i<7:
        Trend.append(trend_values[5])
    if i< -3 and i> -7:
        Trend.append(trend_values[6])
    if i>7:
        Trend.append(trend_values[7])
    if i< -7:
        Trend.append(trend_values[8])
final_df["Trend"] = Trend
final_df.head(10)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,AveragePrice,TotalTradedQuantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,Day_Perc_Change,Trend
0,LALPATHLAB,EQ,2017-05-15,891.15,895.00,914.15,881.00,912.00,900.60,889.35,257655,2.291453e+08,15451,174775,67.83,5,2017,0.000000,Slight or No change
1,LALPATHLAB,EQ,2017-05-16,900.60,910.00,925.00,895.05,909.40,910.95,914.57,104896,9.593430e+07,13001,75813,72.27,5,2017,1.149234,Positive
2,LALPATHLAB,EQ,2017-05-17,910.95,913.00,925.00,909.00,912.05,911.70,917.19,72460,6.645960e+07,2802,53829,74.29,5,2017,0.082332,Slight or No change
3,LALPATHLAB,EQ,2017-05-18,911.70,908.00,919.35,903.05,906.00,909.75,914.12,37707,3.446889e+07,2731,24836,65.87,5,2017,-0.213886,Slight or No change
4,LALPATHLAB,EQ,2017-05-19,909.75,917.00,917.00,905.80,910.00,910.25,910.61,81082,7.383375e+07,4430,69926,86.24,5,2017,0.054960,Slight or No change
5,LALPATHLAB,EQ,2017-05-22,910.25,909.00,914.00,905.00,907.40,909.85,909.89,150085,1.365613e+08,3350,136057,90.65,5,2017,-0.043944,Slight or No change
6,LALPATHLAB,EQ,2017-05-23,909.85,913.95,913.95,875.00,890.00,886.90,899.58,201776,1.815139e+08,7913,167269,82.90,5,2017,-2.522394,Negative
7,LALPATHLAB,EQ,2017-05-24,886.90,886.90,903.05,883.80,893.00,894.70,895.74,84241,7.545772e+07,4014,67593,80.24,5,2017,0.879468,Slight positive
8,LALPATHLAB,EQ,2017-05-25,894.70,897.90,901.00,894.25,898.20,898.25,899.80,241232,2.170599e+08,4535,219442,90.97,5,2017,0.396781,Slight or No change
9,LALPATHLAB,EQ,2017-05-26,898.25,903.45,907.90,880.00,888.00,893.70,898.82,75168,6.756225e+07,7428,57741,76.82,5,2017,-0.506540,Slight negative

#### 1.8

In [32]:
grouped = final_df.groupby("Trend")
print(grouped["TotalTradedQuantity"].agg([np.mean,np.median]))

                              mean  median
Trend
Among top gainers    186722.960000  110923
Among top loosers    258606.000000   63332
Bull run             722199.000000  722199
Negative              83712.237624   53858
Positive              82095.849315   55105
Slight negative       63297.000000   41099
Slight or No change   67316.444444   40710
Slight positive       87609.452381   45531

#### 1.9

In [33]:
final_df.to_csv('week2.csv')